.custom_image {
  float: right; 
  border: 2px solid black; 
  max-width: 30%;
  height: auto; 
  clear: both;
  border-radius: 5px;
  margin: 8px;
  background: #000000;
}


.custom_imagesm {
  float: right; 
  border: 1px solid black; 
  max-width: 21%;
  height: auto; 
  clear: both;
  border-radius: 5px;
  margin: 8px;
  background: #000000;
}

.custom_sbs {
  border: 2px solid black; 
  max-width: 30%;
  height: auto; 
  clear: both;
  border-radius: 5px;
  margin: 8px;
  background: #000000;
}


.shadow {
  box-shadow: 5px 7px 26px -5px rgba(0,0,0,0.68);
  -webkit-box-shadow: 5px 7px 26px -5px rgba(0,0,0,0.68);
  -moz-box-shadow: 5px 7px 26px -5px rgba(0,0,0,0.68);
}

.custom_center {
  border: 2px solid black; 
  max-width: 40%;
  height: auto; 
  clear: both;
  border-radius: 5px;
  margin: auto 8px auto 8px;
  background:#000000;
}

.custom_wide {
  float: right; 
  border: 2px solid black; 
  max-width: 42%;
  height: auto; 
  clear: both;
  border-radius: 5px;
  margin: 8px;
  background: #000000;
}

.custom_span {
  max-width: 100%;
  height: auto; 
  clear: both;
  border-radius: 5px;
  margin: 8px;
}


.custom_circle {
  float: right;
  border: 2px solid black; 
  max-width: 15%;
  height: auto; 
  clear: both;
  border-radius: 50%;
  margin: 8px;
  background: #000000;
}

.custom_circlesm {
  float: right; 
  border: 2px solid black; 
  max-width: 10%;
  height: auto; 
  clear: both;
  border-radius: 50%;
  margin: 8px;
  background: #000000;
}

.custom_circlefl {
  border: 2px solid black; 
  max-width: 15%;
  height: auto; 
  clear: both;
  border-radius: 50%;
  margin: 8px;
  background: #000000;
}

.custom_circle2 {
  float: right; 
  shape-outside: circle(49%);
  border: 0px white; 
  max-width: 25%;
  height: auto; 
  clear: both;
  border-radius: 80%;
  margin: 2px;
}





.bwcol {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;  
}

.bwcol:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
}


.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(2); }
